.land-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	background-color: #262a2e;
	color: white;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 90 0px;
	/* Adiciona espaçamento interno */
}

.login-btn {
	padding: 5px 50px;
	margin: 0px 0px 0px 20px;
	background: linear-gradient(to right, #1c3b5f, #5ba7d1);
	border: none;
	border-radius: 6px;
	color: white;
	font-weight: 500;
	font-size: 15px;
	cursor: pointer;
	margin-top: 0;
	/* Remove o espaçamento superior */
	margin-right: 0;
	/* Ajusta o botão ao lado direito */
	transition: 0.2s;
}

.header-actions {
	display: flex;
	align-items: right;
	margin-right: 20px;
}